# Configuracion para convertir recetas .jcu en comandos .jcode.
# Formato:
#   inicio: comandos comunes al principio
#   ingrediente Nombre: comandos para ese ingrediente
#   fin: comandos comunes al final
#
# Variables disponibles dentro de cada ingrediente:
#   {ingrediente}  nombre del ingrediente del .jcu
#   {cantidad}     cantidad asociada en el .jcu

inicio:
  :print Iniciando receta
  :ether 192.168.1.7 20108
  :use Cooking1
  $x
  $hx
  :use Cooking2
  $x
  $ha
  $hz
  $hb

ingrediente Lechuga:
  :print Dosificando {cantidad} de {ingrediente}
  :use Cooking1
  g1 x20 f800
  :use Cooking2
  g1 a6.5 f100
  g1 a0 f100

ingrediente Tomate:
  :print Dosificando {cantidad} de {ingrediente}
  :use Cooking1
  g1 x40 f800
  :use Cooking2
  g1 a6.5 f100
  g1 a0 f100

ingrediente Queso:
  :print Dosificando {cantidad} de {ingrediente}
  :use Cooking1
  g1 x60 f800
  :use Cooking2
  g1 a6.5 f100
  g1 a0 f100

ingrediente Atun:
  :print Dosificando {cantidad} de {ingrediente}
  :use Cooking1
  g1 x80 f800
  :use Cooking2
  g1 a6.5 f100
  g1 a0 f100

ingrediente Macarrones:
  :print Dosificando {cantidad} de {ingrediente}
  :use Cooking1
  g1 x100 f800
  :use Cooking2
  g1 a6.5 f100
  g1 a0 f100

fin:
  :print Receta terminada
  :use Cooking1
  g1 x0 f800
